[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/abenmoumen
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/abenmoumen
	label-Verified = -1..+1 group user/abenmoumen
	push = group user/abenmoumen
	read = group user/abenmoumen
	rebase = group user/abenmoumen
	removeReviewer = group user/abenmoumen
	submit = group user/abenmoumen
[access "refs/heads/*"]
	create = group user/abenmoumen
	push = +force group user/abenmoumen
	pushMerge = group user/abenmoumen
	read = group user/abenmoumen
[access "refs/tags/*"]
	push = group user/abenmoumen
	push = +force group user/abenmoumen
